.wrapper {
  text-align: center;
  border: 0.5px solid #8a8a8a;
  background: rgba(242, 242, 242, 0.3);
  
}

.time {
  color: rgb(220,20,60);
  font-size: 1em;
}

.label {
  font-size: 0.8em;
  display: block;
  color: #8a8a8a;
}

